@import "tailwindcss";

body {
  display: flex;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  overflow: hidden;
}

button {
  cursor: pointer;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes rotateAnim {
  to {
    --angle: 360deg;
  }
}

.bgImage1 {
  background-image: url("/src/assets/images/bgImage.jpg");
}

.gradientBorder::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: inherit;

  background: linear-gradient(var(--angle), #7340ff, #2d0192, #7340ff);
  mask:
    linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  mask-composite: exclude;

  animation: rotateAnim infinite linear 5s;
}

.gradientBg {
  rotate: var(--angle);
  background:
    radial-gradient(at 90% 0%, #1121b6, transparent 50%),
    radial-gradient(at 0% 90%, #901968, transparent 50%),
    radial-gradient(at 50% 50%, #24014d, transparent 25%), #040111;
  animation: rotateAnim infinite linear 10s reverse;
}

.instagram {
  background:
    radial-gradient(at 0% 0%, rgb(0, 47, 255), transparent 40%),
    radial-gradient(at 0% 0%, rgb(174, 0, 255), transparent 75%),
    radial-gradient(at 50% 100%, rgb(255, 217, 0), transparent 50%)
      rgb(204, 36, 100);

  background-clip: text;

  color: transparent;
}